# VS Code History
.history/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Ambiente
.env
.env.local

# IDE
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
